::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}

.order_confirm_box {
    height: 400px;
    overflow-y: scroll;
}

.order_confirm_box .orders{
    background-color: #c1c1c1;
}
.order_confirm_box .orders img{
    height: 100px;
    width: 150px;
}

.order_total_box{
    height: 400px;
    overflow-y: scroll;
}
.order_total_box span{
    background-color: #c1c1c1;
    padding: 10px;
    margin: 5px;
}