.basket_icon {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all .5s;
    background-color: sienna;
    z-index: 999;
    border-radius: 60px;
}

.basket_icon i {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_basket {
    height: 230px;
    overflow-y: scroll;
}

.main_basket .basket_detail {
    background-color: #f1f1f1;
}

.main_basket .basket_detail img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.second_part .sub_total {
    background-color: #f1f1f1;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}
