.main_review_box{
    height: 250px;
    overflow-y: scroll;
}

.main_review_box .review_order_box{
    background-color: #f1f1f1;
    font-weight: 600;
}

.main_review_box .review_order_box img{
    height: 100px;
    width: 100px;
}

.sub_total_box{
    background-color: #f1f1f1;
    font-weight: 600;
}

.main_discount_order_box{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

.main_discount_order_box .discount_box{
    height: 120px;
    overflow-y: scroll;
}

.main_discount_order_box .discount_box .discount_value{
    color:#dc3545;
    font-weight: 600;
}

.main_discount_order_box .discount_note{
    background-color: #f1f1f1;
}

.main_discount_order_box .discount_note span{
    color: dodgerblue;
    font-weight: 600;
}

.main_discount_order_box .discount_note p{
    line-height: 23px;
}

.sub_total_box1{
    background-color: #f1f1f1;
    font-weight: 600;
}

.btn:focus{
    box-shadow: none;
}

/*.imageloader{*/
    /*width: 10%;*/
/*}*/

.signinOrCreate{
    color: #000;
    font-weight: 700;
    font-size: 15px;
}
.loginBtn{
    width: 130px !important;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}

.button_Bassket{
    background-color: #bf925b !important;
    border: 2px solid #000000 !important;
    color: #ffffff !important;
    transition: all .5s !important;
    font-family: "Josefin Sans", Arial, sans-serif;
    padding: 3px 20px !important;
}
.button_Bassket:hover{
    background-color: #000000 !important;
    border: 2px solid  #bf925b !important;
}
@media (max-width:575px){
    .main_review_box .review_order_box img{
        height: 40px;
        width: 40px;
    }
    .main_review_box .review_order_box{
        font-size: 12px;
    }
}
