.side-menu .btns{
    border-bottom:1px solid white;
}

.side-menu .btns .signup_btn{
    background-color: #bf925b;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    transition:all .5s;
}
.side-menu .btns .signup_btn:hover{
    border: 1px solid #bf925d;
    background-color: black;
}
.side-menu .btns .login_btn{
    background-color: #bf925b;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    transition:all .5s;
}
.side-menu .btns .login_btn:hover{
    border: 1px solid #bf925d;
    background-color: black;
}

.side-menu .sidebar-list:hover i{
    color:#bf925d !important;
}

.side-menu .sidebar-list i{
    font-size: 30px;
    color: #ffffff;
}
.side-menu .link:hover .sidebar-list i {
    color: #ffffff;
}
.side-menu .link:hover .sidebar-list .link-hover{
    color: #bf925d;
}
.side-menu .link .sidebar-list i{
    font-size: 20px;
}
.side-menu .link .sidebar-list .link-hover {
    font-family: Josefin;
    padding-left: 10px;
    color: #ffffff;
    font-size: 15px;
}
.menu-drawer {

}
.bg_color_logout{
    background-color: #000000 !important;
}

.side-menu .link:hover{
    background-color: #000000 !important;
}
.menu-drawer .logout-list {
    padding: 0 !important;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.menu-leftfront {
    overflow: auto;
    background-color: #313131;
    height: calc(100vh - 81px) !important;
}