.map img {
    height: 350px;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}
.address_box{
    box-shadow: 0px 0px 7px 2px #c1c1c1;
    border-radius:5px;
    width:300px;
    height: 300px;
}
.title{
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}