.sidebar{
    background-color: transparent !important;
    min-height: calc(100vh - 105px) !important;
}

.recent-details{
    min-height: calc(100vh - 105px) !important;
}

.recent-uncomplete{
    background-color: #c53140;
    color: white;
    transition: all .5s;
}

.recent-uncomplete:hover{
    background-color: #f11329;
}