.form-header {
    background: rgba(0,0,0,0.55) url('/assets/Images/hd-wallpaper-website.jpg') no-repeat;
    background-size: cover;
    padding: 10px 0;
    position: relative;
    width: 100%;
}



