.product {
    width: 100%;
    position: relative;
}

.product i {
    position: absolute;
    top: 15px;
    right: 10px;
    color: black;
}

.product .products {
    height: 200px;
    overflow-y: scroll;
}
.addtocartbtn{
    width: 50%;
    padding: 10px;
    transition:all .5s;
    background-color: green;
    color: white;
}
.addtocartbtn:active{
    background-color: green;
    color: white;
}
.product .products .product_details {
    cursor: pointer;
    background-color: #bf925d;
    transition:all .5s;
}

.product .products .product_details:active{
    background-color: #bf925d;
}

.product .products .product_details img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}
